<!-- {{ include.show }} -->
{% for entry in site.data.shows %}
<!-- {{ entry.title }} -->
  {% if entry.title == include.show %}
<h3 href="{{ entry.url }}">{{ entry.title }}</h3>
<p>
  {{ entry.day }}<br/>
  {{ entry.start}} - {{ entry.end }}
</p>
<p>{{ entry.description }}</p>

    {% if entry.cast.length >= 1 %}
<h4>Cast</h4>
      {% for member in entry.cast %}
<h5>{{ member.name }}</h5>
<p>
  {{ member.bio }}<br/>
  twitch: {{ member.twitch }}<br/>
  twitter: {{ member.twitter }}
</p>
      {% endfor %}
    {% endif %}
  {% break %}
  {% endif %}
{% endfor %}
